window{
    background-image: url("./lockimg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#user-image{
    border-radius: 10px;
}

#user-name{
    font-family: "JetBrainsMono Nerd Font";
}